
	header {
	 background-color: black; }
	   
	  .card{
	   margin: 20px;
	   cursor: default;
	   transition: all 400ms ease; 
	  }
	  
	  .card:hover{
	     box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	     transform: translateY(-3%);
	  }
	  
	   b{
	 font-family: 'Russo One', sans-serif;
	  }
	  
	
