@charset "ISO-8859-1";

*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	list-style: none; 
}
header {
	background: black;
}
body {
	font-family: sans-serif;
}

.footer {
	background-color: black;
	padding: 50px 0; 
}

.footer-row {
	display: flex; 
	flex-wrap: wrap; 
}

.footer-links {
	width: 33%; 
	padding: 0 15px; 
	
}
.footer-links h4{
	font-size: 20px; 
	color: white; 
	margin-bottom: 25px; 
	font-weight: 500;
	border-bottom: 2px solid #00C3FF; 
	padding-bottom:10px; 
	display: inline-block; 
	
}
 .footer-links ul li a {
 font-size: 18px; 
 text-decoration: none; 
 color: #BBBBBB; 
 display: block; 
 margin-bottom: 15px; 
 transition: all .3s ease; 
 
 }
  .footer-links ul li a:hover {
  background-color: #00C3FF; 
  padding-left: 6px;
  
  }
  .social-link a{
   display: inline-block; 
   min-height: 40px; 
   width: 40px; 
   background-color:  rgba(255, 255, 255, 0.2);
   margin: 0 10px 10px 0; 
   text-align: center; 
   line-height: 40px; 
   border-radius: 50%;  
   color: #FFFFFF; 
   transition: all .5s ease; 
  }
.social-link a:hover {
	background-color: #00C3FF; 
}

@media(max-width:991px){
	.footer-row{
	text-align: center
	}
	.footer-links{
	width: 100%; 
	margin-bottom: 30px; 
	}
	
}