<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">ONESTREET</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="#">New in</a>
						</li>
						
						<li class="nav-item"><a class="nav-link" href="#">Contact</a>

						</li>
					</ul>

				</div>
			</div>
		</nav>
		</div>
</header>



<footer class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="footer-links">
					<h4>Ayuda</h4>
					<ul>
						<li><a href="#">Preguntas Frecuentes</a></li>
						<li><a href="#">Metodos de Pago</a></li>
						<li><a href="#">Cambios y devoluciones</a></li>
					</ul>
				</div>
				<div class="footer-links">
					<h4>Nosotros</h4>
					<ul>
						<li><a href="#">Acerca de nosotros</a></li>
						<li><a href="#">Trabaja con nosotros </a></li>
					</ul>
				</div>
				<div class="footer-links">
					<h4>Seguinos</h4>
					<div class="social-link">

						<a href="#"><i class="fab fa-facebook-f"></i></a> 
						<a href="#"><i class="fab fa-instagram"></i></a> 
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-linkedin"></i></a>
				    </div>
				 </div>
		</div>
		</div>
		
	</footer>
</body>
</html>